@model FastBite.Models.Viewmodels.MenuItemViewModel
@using FastBite.Extensions
@{
    ViewData["Title"] = "Edit";
     Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h2 class="text-info">Edit MenuItem</h2>
<br/>

