 @model int
 <div class="row">
                            <div class="col-6">
                                <input class="btn btn-info form-control" type="submit" value="Update" asp-route-Id="@Model"/>
                            </div>
                            <div class="col-6">
                                <a asp-action="Index" class="btn btn-success form-control">Back To List</a>
                            </div>

                        </div>